-- vim: ft=lua:ts=4:sw=4:et:ai:cin

-- override `lcc.config` here
lcc.config = {
    scale = 1.5 -- magnify the panel by 1.5x
}

-- override `lcc.fonts` (named fonts) here
-- !! NOTICE !! `local_fonts` used by older versions will be deprecated in
-- a future release, please modify your local.conf accordingly
lcc.fonts = {
    date = T_ "serif:normal:size=$sc{18}" -- T_ and $sc{} auto-scale font size
}

-- override `conky.config` here
-- !! NOTICE !! `local_config` used by older versions will be deprecated in
-- a future release, please modify your local.conf accordingly
conky.config = {
    -- LAYOUT --
    xinerama_head = 1, -- move panel to the second monitor
    alignment = "top_left", -- dock panel to the left side
    gap_x = 32, -- horizontal gap from screen edge (default: 0)
    gap_y = 0, -- vertical gap from screen edge (default: 0)
    minimum_height = T_sr(2500), -- in case you want the panel to cover full height of screen
    -- FONT --
    font = T_ "serif:bold:size=$sc{8}", -- change default font here
    -- COLORS --
    color0 = "turquoise", -- clock color
    color1 = "orange", -- heading 1 color
    color2 = "dodgerblue", -- heading 2 color
    color3 = "limegreen", -- chart color
    default_color = "white" -- text color
}
