-- vim: ft=lua:ts=4:sw=4:et:ai:cin

-- customize your LCC/Conky here, uncomment lines that interest you to see effects

-- override `lcc.config` (LCC specific settings)
lcc.config = {
    -- scale = 1.5, -- magnify the panel by 1.5x
    -- spacing = 8, -- more compact layout
}

-- override `lcc.fonts` (LCC named fonts)
-- !! NOTICE !! `local_fonts` used by older versions will be deprecated in
-- a future release, please modify your local.conf accordingly
lcc.fonts = {
    -- date = T_ "serif:normal:size=$sc{18}" -- T_ and $sc{} auto-scale font size
}

-- define `lcc.panel` (LCC panel component list)
-- unlike other settings, the global panel will be *replaced* by the definition here,
-- pick and order all the components as you want
lcc.panel = {
    "datetime",
    "system",
    { "cpu",     { top_n = 3 } }, -- change number of top entries, up to 10
    { "memory",  { top_n = 3 } },
    -- { "gpu.nvidia", { top_n = 3 } }, -- uncomment to monitor Nvidia GPU, `pip install pynvml` first
    { "storage", { top_n = 3 } },
    "network",
    { "vspace", -20 }, -- adjust trailing space at the bottom, use negative value to trim
}

-- override `conky.config` (general Conky settings)
-- !! NOTICE !! `local_config` used by older versions will be deprecated in
-- a future release, please modify your local.conf accordingly
conky.config = {
    -- === LAYOUT ===
    -- xinerama_head = 1, -- move panel to the second monitor
    -- alignment = "top_left", -- dock panel to the left side
    -- gap_x = T_.sr(10), -- horizontal gap from screen edge (default: 0)
    -- gap_y = T_.sr(0), -- vertical gap from screen edge (default: 0)
    -- minimum_height = T_.sr(2500), -- in case you want the panel to cover full height of screen
    -- default_bar_height = T_.sr(4), -- adjust bar height
    -- default_graph_height = T_.sr(24), -- adjust graph height
    -- === MAIN FONT ===
    -- font = T_ "serif:bold:size=$sc{8}", -- change default font here
    -- === COLORS ===
    -- default_color = "white" -- text color
    -- color0 = "turquoise", -- clock color
    -- color1 = "orange", -- heading 1 color
    -- color2 = "dodgerblue", -- heading 2 color
    -- color3 = "limegreen", -- chart color
}
